<a href="https://colab.research.google.com/github/bryonbaker/SIT720/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SIT720 - Assignment 1

Bryon Baker
Student number: 85031775

# Import required modules and libraries

In [1]:
!pip3 install pandas
!pip3 install numpy

Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/app-root/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/app-root/bin/python3.8 -m pip install --upgrade pip' command.
Requirement already satisfied: numpy in /opt/app-root/lib/python3.8/site-packages (1.19.2)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/app-root/bin/python3.8 -m pip install --upgrade pip' command.

In [2]:

import pandas as pd
import numpy as np

# Function Declarations

## QUESTION 1
* Load the data from supplied data file. 
* Select the first 500 observations/ samples from the dataset. 
* Print the data dimension.

In [3]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

url = 'https://raw.githubusercontent.com/bryonbaker/datasets/main/SIT720/Ass1/hypothyroid.csv'
fullht_df = pd.read_csv(url)
fullht_df.head(n=500)

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
0,41,F,f,f,f,f,1.3,2.5,125,109,P
1,23,F,f,f,f,f,4.1,2,102,?,P
2,46,M,f,f,f,f,0.98,?,109,120,P
3,70,F,t,f,f,f,0.16,1.9,175,?,P
4,70,F,f,f,f,f,0.72,1.2,61,70,P
...,...,...,...,...,...,...,...,...,...,...,...
495,46,F,f,f,f,f,?,?,93,102,P
496,45,F,f,f,f,f,0.02,1.4,144,?,P
497,82,M,f,f,f,f,0.15,1.4,133,134,P
498,55,F,f,f,f,f,11,1.5,144,116,N
499,43,M,f,f,f,f,0.1,?,62,66,P

In [4]:
# Get the first 500 rows from the dataset and use that for the rest of the assignment.
ht_df = fullht_df.head(n=500)

# Display the dataset's dimension
initialShape = ht_df.shape
print(f"Working dataset dimension is: {initialShape}\n")

Working dataset dimension is: (500, 11)

## QUESTION 2
* Continue from question 1. 
* Display the number of rows and their indices that have missing data in one or more cells. 
* Now, replace the missing data by the lowest value of the corresponding feature if it is a continuous variable. In case of categorical variable, remove the sample. 
* Print the median values of all features before and after replacing missing data.

In [5]:
# Find the number of rows that have missing data
ht_df = ht_df.replace('?', np.NaN)              # Replace ? with NaN
numMissing = ht_df.isna().any(axis=1).sum()
print(f"The number of rows with missing values is {numMissing}")

# Define the features that are subject to replacing with the lowest value in the column.
# This series will ne used to define the features that will be updated if they are missing.
continuousFeatures = pd.Series(["age", "TSH","T3","TT4","FTI"], copy = False)

# All features are currently text. Change the data types of the continuous variables to numeric
# so we can perform calculations with them.
ht_df[continuousFeatures] = ht_df[continuousFeatures].apply(pd.to_numeric)

# Calculate the Median prior to replacing missing values
initialMedian = ht_df[continuousFeatures].median(skipna=True)
print("\n=============================")
print("Median Pre-Data Modification:")
print("=============================")
print(f"The Median of each column is:\n{initialMedian}")

# Find the minimum value for each continuous variable
minValues = ht_df.min(axis=0)
print("\n======================================")
print("Updating missing continuous variables:")
print("======================================")
for index, value in continuousFeatures.items():
    print(f"Min value for {value} is {minValues[value]}")
    ht_df[value] = ht_df[value].fillna(minValues[value])

# Calculate the Median value of all continuous features.
# Using the list of continuous features, replace any missing (NaN) values with the lowest value in the column.
# Replace the NaN's of the numeric columns with the mean
ht_df["TSH"] = ht_df["TSH"].fillna(continuousFeatures[1])
# Calculate the new Median value of all continuous features.
# Display the before/after Median values

# Calculate the Median prior to replacing missing values
postMedian = ht_df[continuousFeatures].median(skipna=True)
print("\n===============================")
print("Median Post-Data Modification:")
print("==============================")
print(f"The Median of each column is:\n{postMedian}")

# Now all the continuous variables have had NaN replaced, drop any rows with categorical values of NaN
numMissing = ht_df.isna().any(axis=1).sum()# Recalculate the number of rows left with missing values for assert later.
ht_df = ht_df.dropna()


# Display the dataset's new dimension
print(f"Working dataset dimension is: {ht_df.shape}\n")
print(f"Initial shape: {initialShape[0]} New shape: {ht_df.shape[0]} Number of rows dropped: {numMissing}")

# Check that the new shape is correct based on the number of missing non-continuous values
assert initialShape[0] == ht_df.shape[0]+numMissing

The number of rows with missing values is 144

=============================
Median Pre-Data Modification:
=============================
The Median of each column is:
age     55.0
TSH      1.4
T3       1.9
TT4    103.0
FTI    108.0
dtype: float64

======================================
Updating missing continuous variables:
======================================
Min value for age is 1
Min value for TSH is 0.005
Min value for T3 is 0.05
Min value for TT4 is 11.0
Min value for FTI is 8.9

===============================
Median Post-Data Modification:
==============================
The Median of each column is:
age     55.00
TSH      1.15
T3       1.70
TT4    102.00
FTI    105.00
dtype: float64
Working dataset dimension is: (478, 11)

Initial shape: 500 New shape: 478 Number of rows dropped: 22

In [6]:
# Display the new data set for informational purposes
ht_df.head(n=500)

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
0,41,F,f,f,f,f,1.300,2.50,125.0,109.0,P
1,23,F,f,f,f,f,4.100,2.00,102.0,8.9,P
2,46,M,f,f,f,f,0.980,0.05,109.0,120.0,P
3,70,F,t,f,f,f,0.160,1.90,175.0,8.9,P
4,70,F,f,f,f,f,0.720,1.20,61.0,70.0,P
...,...,...,...,...,...,...,...,...,...,...,...
495,46,F,f,f,f,f,0.005,0.05,93.0,102.0,P
496,45,F,f,f,f,f,0.020,1.40,144.0,8.9,P
497,82,M,f,f,f,f,0.150,1.40,133.0,134.0,P
498,55,F,f,f,f,f,11.000,1.50,144.0,116.0,N
499,43,M,f,f,f,f,0.100,0.05,62.0,66.0,P

## QUESTION 3

* Continue from question 2.
* Is there any change in data type? If yes, convert them back to appropriate data types. 
* Print all variables with corresponding data type.

In [7]:
# Change the t/f features to proper boolean values by creating a new column mapped to the original value

boolColumns = pd.Series(["on thyroxine", "pregnant", "I131 treatment", "query hyperthyroid"], copy = False)    # The columns to change types
boolMap = {'t' : True, 'f': False }    # How to map the values
cols = ht_df.columns.tolist()     # Get the order of columns so we can preserve the table structure after we change all the types with row swaps.

for index, value in boolColumns.items():
    oldName = value    # Save the old name for renaming back later
    newName = "new_" + value    # Create a temporary column name
    ht_df[newName] = ht_df[oldName].map(boolMap)    # Adds a new column with proper boolean values
    ht_df = ht_df.drop([oldName], axis=1)    # Drop the old column before renaming the new column to the name just dropped
    ht_df = ht_df.rename(columns={newName : oldName})

ht_df = ht_df[cols]    # Reorder the columns back to what they were before we started.

In [8]:
print("Updated table structure")
print("=======================")
ht_df.head()

Updated table structure
=======================

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
0,41,F,False,False,False,False,1.30,2.50,125.0,109.0,P
1,23,F,False,False,False,False,4.10,2.00,102.0,8.9,P
2,46,M,False,False,False,False,0.98,0.05,109.0,120.0,P
3,70,F,True,False,False,False,0.16,1.90,175.0,8.9,P
4,70,F,False,False,False,False,0.72,1.20,61.0,70.0,P

In [9]:
print("DataFrame variables and corresponding data types:")
print("=================================================")
print(ht_df.dtypes)

DataFrame variables and corresponding data types:
=================================================
age                     int64
sex                    object
on thyroxine             bool
pregnant                 bool
I131 treatment           bool
query hyperthyroid       bool
TSH                   float64
T3                    float64
TT4                   float64
FTI                   float64
binaryClass            object
dtype: object

## QUESTION 4
* Continue from question 3. 
* Print the total numbers and ratio of male and female patients who are receiving I131 treatment.

In [10]:
male_i131 = ht_df[(ht_df["I131 treatment"] == True) & (ht_df["sex"] == "M")]
female_i131 = ht_df[(ht_df["I131 treatment"] == True) & (ht_df["sex"] == "F")]
total_i131 = ht_df[ht_df["I131 treatment"] == True]
numMales = ht_df[ht_df["sex"] == "M"].shape[0]
numFemales = ht_df[ht_df["sex"] == "F"].shape[0]

numMalesWithI131 = male_i131.shape[0]
numFemalesWithI131 = female_i131.shape[0]
totalWithI131 = total_i131.shape[0]

print(f"Number of Males receiving I131 treatment is: {numMalesWithI131}")
print(f"Number of Females receiving I131 treatment is: {numFemalesWithI131}")
print(f"Total number of people receiving I131 treatment is: {totalWithI131}")
print(f"Ratio of Males receiving/not receiving I131 Treatment is: {numMalesWithI131/numMales}")
print(f"Ratio of Females receiving/not receiving I131 Treatment is: {numFemalesWithI131/numFemales}")

Number of Males receiving I131 treatment is: 2
Number of Females receiving I131 treatment is: 0
Total number of people receiving I131 treatment is: 2
Ratio of Males receiving/not receiving I131 Treatment is: 0.011976047904191617
Ratio of Females receiving/not receiving I131 Treatment is: 0.0

## QUESTION 5
* Continue from question 3. 
* Print the average TSH and T3 with the patient with Hypothyroid problem. 
* Please report the pattern found in the result, if any.

In [11]:
# Looking for records with binaryClass == P. Calculate the average for the TSH and T3

averages = ht_df[ht_df["binaryClass"] == "P"][["TSH","T3"]].mean()
print("TSH/T3 Breakdown of Patients at Risk of Hypothyroid Disease:")
print("\tAverage TSH: {:3f} mU/L".format(averages['TSH']))
print("\tAverage T3: {:3f} ng/dl".format(averages['T3']))

TSH/T3 Breakdown of Patients at Risk of Hypothyroid Disease:
	Average TSH: 1.582991 mU/L
	Average T3: 1.585388 ng/dl

### ANALYSIS
When considered in isolation, these results indicate that there is a relationship between the average TSH and T3 values. (TSH: 1.582 and T3: 1.585)
However, this alone should not be used to draw any conclusions because, as shown below, the ranges (0..27.0 vs. 0..5.5) and standard deviations (2.86 vs. 1.08) are very different, indicating that the similar values are coincidence.

In [12]:
anal = ht_df[ht_df["binaryClass"] == "P"][["TSH","T3"]]
print(f"TSH Breakdown:\n{anal['TSH'].describe()}\n")
print(f"T3 Breakdown:\n{anal['T3'].describe()}")

TSH Breakdown:
count    438.000000
mean       1.582991
std        2.864859
min        0.005000
25%        0.150000
50%        1.000000
75%        1.975000
max       27.000000
Name: TSH, dtype: float64

T3 Breakdown:
count    438.000000
mean       1.585388
std        1.075153
min        0.050000
25%        0.900000
50%        1.700000
75%        2.300000
max        5.500000
Name: T3, dtype: float64

## QUESTION 6
* Continue from question 3. 
* Print the average TSH and T3 with the patient with Hyperthyroid problem. 
* Please report the pattern found in the result, if any.

In [13]:
means = ht_df[ht_df["query hyperthyroid"] == True][["TSH","T3"]].mean()
tshMean = means["TSH"] if not pd.isna(means["TSH"]) else 0
t3Mean = means["T3"] if not pd.isna(means["T3"]) else 0

print("TSH/T3 Breakdown of Patients at Risk of Hyperthyroid Disease:")
print("\tAverage TSH: {:.3f} mU/L".format(tshMean))
print("\tAverage T3: {:.3f} ng/dl".format(t3Mean))

TSH/T3 Breakdown of Patients at Risk of Hyperthyroid Disease:
	Average TSH: 3.583 mU/L
	Average T3: 2.010 ng/dl

## ANALYSIS
...

## QUESTION 7
* Continue from question 3.
* Print the percentage of pregnant patients at risk of Hypothyroid disease.

In [14]:
#numPreg = ht_df[(ht_df["binaryClass"] == "P") & (ht_df["pregnant"] == True)].shape[0]
preg_df = ht_df[ht_df["pregnant"] == True]
pregHypo_df = preg_df[preg_df["binaryClass"] == "P"]
print("The percentage of pregnant patients at risk of Hypothyroid disease is {:.2f}%".format((pregHypo_df.shape[0]/preg_df.shape[0])*100))

The percentage of pregnant patients at risk of Hypothyroid disease is 100.00%

## QUESTION 8
* Continue from question 3. 
* Calculate and print the average TSH and TT4 for pregnant patient at risk of Hypothyroid disease.

In [15]:
means = pregHypo_df[["TSH","TT4"]].mean()
tshMean = means["TSH"] if not pd.isna(means["TSH"]) else 0
tt4Mean = means["TT4"] if not pd.isna(means["TT4"]) else 0

print("TSH/TT4 Breakdown of Pregnant Patients at Risk of Hypothyroid Disease:")
print("\tAverage TSH: {:.3f} mU/L".format(tshMean))
print("\tAverage TT4: {:.3f} nmol/L".format(tt4Mean))

TSH/TT4 Breakdown of Pregnant Patients at Risk of Hypothyroid Disease:
	Average TSH: 0.478 mU/L
	Average TT4: 130.375 nmol/L

## QUESTION 9
* Continue from question 3.
* Calculate and print the average FTI and TT4 for pregnant patient who are receiving I131 treatment and are at risk of Hyperthyroid disease.

In [16]:
#pregHyperI131_df = preg_df[(preg_df["query hyperthyroid"] == True) & (preg_df["I131 treatment"] == True)]
pregHyperI131_df = ht_df[(ht_df["pregnant"] == True) & (ht_df["query hyperthyroid"] == True) & (ht_df["I131 treatment"] == True)]
means = pregHyperI131_df[["FTI","TT4"]].mean()
ftiMean = means["FTI"] if not pd.isna(means["FTI"]) else 0
tt4Mean = means["TT4"] if not pd.isna(means["TT4"]) else 0
print("FTI/TT4 Breakdown of Pregnant Patients at Risk of Hypothyroid Disease:")
print("\tAverage FTI: {:.3f} ug/dL".format(ftiMean))
print("\tAverage TT4: {:.3f} nmol/L".format(tt4Mean))

FTI/TT4 Breakdown of Pregnant Patients at Risk of Hypothyroid Disease:
	Average FTI: 0.000 ug/dL
	Average TT4: 0.000 nmol/L

## QUESTION 10
* Continue from question 3.
* Create and print a dataframe of the FTI, T3, and TSH levels for diferent age groups (based on 10 years intervals)

In [17]:
# Find min age and max age
# loop through age range in increments of 10: (0->9, 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99)
# Query the main data frame

# Add an age-range column
# set the age-range value based on a query of (age <= minAge && age < maxAge)

In [33]:
# Calculate the age range
min = ht_df["age"].min()
min = min - min%10        # Round the age down to the nearest 10
max = ht_df["age"].max()
if max % 10 == 0:
    max += 10             # If the max age is divisible by ten create an extra age bracket as we are using 0-9, 10-19, ... 

# Create an age map of specific age to bracket
ageMap = {}
bracket = 0
for age in range(min, max):
    ageMap[age] = "%d-%d" % (bracket, bracket+9)
    if (age+1) % 10 == 0:
        bracket += 10
    
# Add a new column with the age bracket
bracket_df = ht_df
bracket_df["age bracket"] = bracket_df["age"].map(ageMap)
bracket_df = bracket_df.sort_values(by=["age bracket"])
q10_df = bracket_df[{"age bracket", "FTI", "T3", "TSH"}]
print(q10_df.to_string())

    age bracket    FTI    T3      TSH
411         0-9  133.0  0.05   15.000
138         0-9  110.0  2.00    0.940
228         0-9  113.0  1.80    1.600
375       10-19  143.0  1.10   25.000
424       10-19  115.0  0.05    1.100
279       10-19   81.0  4.00    2.900
374       10-19   98.0  2.20   12.000
137       10-19  101.0  0.05    0.005
265       10-19  100.0  2.80    2.700
260       10-19    8.9  2.20    9.000
107       10-19   85.0  2.40    0.005
150       10-19    8.9  0.05    0.005
331       10-19   81.0  1.40    1.000
161       10-19  130.0  4.20    0.100
155       10-19  154.0  0.05    1.100
5         10-19  141.0  0.05    0.030
240       10-19   71.0  3.20    0.450
177       10-19   86.0  1.80    0.700
230       10-19  100.0  2.00    1.800
422       10-19   68.0  1.30   16.000
92        20-29    8.9  0.05    0.005
340       20-29  140.0  1.80    0.250
345       20-29  120.0  2.30    1.800
120       20-29   83.0  3.40    0.020
363       20-29   97.0  1.70    0.500
95        20-29   84.0  0.05    2.000
312       20-29  109.0  2.40    1.900
364       20-29  105.0  2.20    0.005
368       20-29   53.0  0.05   24.000
110       20-29   88.0  0.05    0.005
71        20-29  117.0  0.05    1.300
372       20-29  149.0  2.80    0.030
303       20-29    8.9  0.05    0.005
300       20-29  100.0  3.80    0.800
316       20-29   80.0  2.20    0.100
93        20-29   76.0  2.20    1.300
251       20-29   95.0  2.40    1.400
124       20-29  120.0  2.20    0.200
190       20-29  121.0  1.50    1.300
204       20-29    8.9  0.05    0.005
206       20-29  115.0  3.00    0.600
207       20-29    8.9  0.05    0.005
216       20-29   91.0  2.10    1.800
172       20-29  143.0  2.70    0.150
229       20-29    8.9  0.05    0.005
165       20-29  137.0  1.30    0.500
121       20-29   74.0  0.05    9.400
160       20-29  112.0  2.10    1.600
249       20-29  102.0  5.40    1.600
252       20-29  149.0  2.00    2.300
255       20-29    8.9  2.10    2.400
269       20-29   91.0  1.40    1.600
270       20-29   95.0  2.20    2.100
273       20-29   51.0  1.30    0.250
130       20-29   99.0  0.05    1.600
295       20-29  153.0  2.20    0.330
248       20-29  118.0  0.05    0.400
271       20-29  140.0  3.40    0.400
100       20-29  146.0  1.40    1.300
1         20-29    8.9  2.00    4.100
404       20-29  118.0  2.80    2.700
27        20-29    8.9  3.10    0.300
397       20-29   93.0  3.30    0.900
423       20-29  106.0  0.05    0.005
460       20-29   76.0  1.30    2.600
433       20-29  142.0  1.70    0.080
462       20-29  134.0  1.90    1.600
35        20-29   94.0  0.05    1.100
19        20-29  130.0  2.60    2.100
393       20-29  129.0  2.30    0.660
486       20-29   80.0  3.10    0.100
469       20-29   91.0  2.70    1.500
14        20-29  119.0  1.80    3.300
56        20-29   97.0  0.05    2.600
36        20-29  129.0  2.50    1.800
58        20-29  100.0  1.60   15.000
387       20-29   92.0  0.05    0.005
465       20-29  124.0  2.70    1.000
420       30-39   43.0  0.90   55.000
30        30-39   76.0  2.50    0.035
276       30-39  125.0  0.05    1.500
384       30-39  112.0  0.05    0.005
285       30-39   96.0  0.05    0.590
174       30-39  104.0  2.80    1.500
225       30-39    8.9  4.80    0.050
126       30-39   87.0  0.05    2.700
122       30-39  105.0  2.00    7.800
221       30-39   94.0  0.05    1.400
33        30-39   90.0  1.90    1.700
198       30-39   64.0  2.10    0.045
142       30-39   98.0  2.30    0.250
441       30-39  220.0  5.20    0.160
262       30-39    8.9  1.80    0.100
119       30-39   97.0  0.05    3.900
169       30-39    8.9  0.05    2.100
145       30-39   93.0  2.30    1.600
166       30-39  102.0  1.60    0.250
148       30-39  109.0  3.10    1.100
149       30-39  127.0  1.60    0.880
250       30-39    8.9  1.70   16.000
479       30-39  130.0  2.90    0.250
243       30-39  115.0  1.30    0.650
242       30-39  112.0  1.30    0.570
474       30-39  111.0  3.00    2.600
485       30-39   75.0  1.80    3.100
492       30-39  157.0  2.10    0.045
299       30-39   72.0  0.05    0.005
335       30-39  117.0  2.00    0.400
401       30-39  169.0  3.00    0.200
339       30-39   95.0  0.05    0.005
88        30-39    8.9  0.40  160.000
398       30-39  108.0  1.90    0.790
86        30-39  121.0  0.05    1.300
189       30-39  122.0  2.40    2.100
94        30-39   94.0  2.90    0.250
359       30-39   94.0  2.50    2.300
366       30-39   92.0  3.00    0.500
73        30-39   95.0  0.05    1.600
70        30-39  112.0  2.00    0.005
388       30-39  116.0  2.90    0.150
376       30-39  120.0  0.05    0.400
199       30-39  104.0  3.70    0.025
396       30-39  123.0  3.60    0.005
97        30-39   89.0  2.40    4.300
238       30-39   96.0  1.30    2.800
185       30-39  106.0  2.30    1.500
315       30-39  123.0  2.40    1.000
405       30-39  113.0  2.70    1.200
208       30-39   90.0  0.05    0.005
184       30-39    8.9  1.70   27.000
43        30-39  148.0  2.00    0.250
102       30-39  106.0  2.30    1.400
407       30-39  112.0  2.40    0.830
314       30-39  118.0  0.05    3.000
213       30-39   88.0  3.70   26.000
194       30-39   99.0  0.05    0.005
302       30-39  100.0  2.30    0.900
418       30-39  112.0  2.30    0.050
323       30-39   97.0  2.50    1.800
200       40-49   99.0  1.60    1.000
215       40-49   95.0  1.10    0.770
212       40-49  126.0  2.30    1.900
496       40-49    8.9  1.40    0.020
234       40-49  117.0  3.00    0.005
233       40-49   71.0  0.60    0.100
495       40-49  102.0  0.05    0.005
482       40-49  122.0  1.30    2.100
236       40-49  127.0  0.90    0.720
483       40-49   83.0  1.30    2.100
493       40-49   93.0  1.50    0.900
201       40-49  122.0  2.90    1.100
490       40-49   83.0  0.05    0.005
379       40-49    8.9  0.30   10.000
247       40-49   96.0  2.00    0.015
377       40-49  130.0  1.30    1.100
391       40-49   94.0  2.30    2.200
362       40-49  102.0  2.30    0.600
353       40-49  116.0  2.30    1.100
350       40-49   74.0  0.20    0.080
349       40-49   93.0  1.60    3.400
338       40-49  214.0  4.80    0.080
402       40-49    8.9  2.70    0.860
329       40-49  105.0  0.05    0.250
318       40-49  116.0  1.90    0.600
406       40-49   51.0  0.50    9.700
415       40-49  119.0  2.10    1.100
306       40-49   11.0  0.80   31.000
416       40-49   96.0  2.00    1.100
298       40-49  113.0  1.50    1.500
297       40-49   70.0  0.05    0.005
296       40-49  110.0  2.10    0.700
291       40-49    8.9  2.40    5.900
284       40-49  129.0  1.80    2.000
430       40-49  119.0  2.00    0.940
434       40-49  179.0  2.10    0.035
435       40-49  108.0  2.10    2.500
261       40-49    8.9  0.05    0.005
443       40-49    8.9  0.05    0.005
258       40-49  115.0  2.40    1.000
256       40-49   95.0  0.05    1.200
444       40-49  108.0  2.20    1.200
475       40-49   92.0  0.05    2.600
427       40-49  139.0  1.90    3.200
0         40-49  109.0  2.50    1.300
499       40-49   66.0  0.05    0.100
99        40-49   92.0  1.60    0.300
89        40-49   60.0  0.30    0.100
175       40-49   62.0  1.70    3.300
118       40-49  137.0  0.05    0.040
80        40-49  156.0  0.05    0.050
176       40-49   99.0  1.30    1.400
79        40-49  145.0  1.30    2.000
40        40-49   33.0  1.40   45.000
41        40-49   87.0  1.90    5.400
68        40-49  135.0  1.50    0.200
164       40-49  114.0  1.90    6.000
133       40-49  170.0  2.50    0.800
21        40-49  119.0  2.10    0.800
195       40-49  126.0  2.30    0.750
53        40-49  110.0  1.60    2.500
188       40-49    8.9  2.20    6.100
2         40-49  120.0  0.05    0.980
136       40-49   65.0  0.05   19.000
24        50-59  131.0  1.80    0.200
307       50-59   54.0  1.60    0.005
111       50-59  143.0  2.00    1.600
23        50-59  116.0  0.05    3.100
448       50-59  164.0  1.80    0.020
113       50-59   71.0  2.30    1.400
301       50-59   96.0  2.40    0.300
116       50-59   28.0  1.00  151.000
283       50-59  106.0  2.40    0.620
132       50-59   88.0  0.05    1.800
293       50-59  124.0  1.80    0.250
450       50-59   95.0  2.30    1.900
451       50-59   93.0  2.10    2.700
108       50-59  104.0  3.10    4.100
463       50-59  118.0  0.05    2.000
20        50-59  151.0  0.05    0.100
455       50-59  110.0  1.90    1.000
457       50-59  136.0  3.40    0.065
458       50-59  116.0  0.05    0.290
459       50-59  121.0  2.80    0.080
454       50-59  118.0  1.70    7.600
337       50-59   84.0  1.70    4.500
437       50-59  109.0  1.10    1.400
54        50-59    8.9  2.80    0.005
403       50-59  108.0  1.60    1.400
390       50-59  105.0  2.30    0.500
389       50-59  129.0  1.70    1.200
59        50-59   81.0  2.20   19.000
385       50-59  131.0  0.05    1.900
380       50-59   99.0  1.40    2.200
409       50-59   47.0  0.20   28.000
412       50-59  131.0  1.60    2.800
413       50-59  101.0  1.80    2.000
72        50-59    8.9  0.05    0.005
104       50-59    8.9  0.05    0.005
365       50-59   97.0  1.90    3.100
38        50-59   91.0  0.05    2.800
355       50-59  132.0  1.80    1.500
352       50-59   79.0  1.30    0.090
351       50-59  127.0  1.60    1.500
37        50-59   95.0  2.70    0.260
341       50-59  109.0  1.90    0.005
87        50-59  134.0  2.40    0.250
268       50-59    8.9  0.05    0.005
333       50-59   81.0  2.40    4.400
431       50-59    8.9  0.05    0.005
325       50-59  144.0  1.90    0.005
358       50-59   96.0  1.50    0.620
266       50-59   94.0  2.50    9.200
117       50-59  108.0  1.30    0.990
488       50-59  123.0  2.10    1.600
151       50-59  274.0  5.50    0.010
222       50-59   79.0  2.20    1.100
235       50-59  155.0  4.30    0.050
478       50-59   94.0  1.50    2.900
156       50-59  100.0  0.05    0.005
220       50-59  102.0  0.05   11.400
209       50-59  114.0  2.80    0.050
163       50-59  106.0  2.40    2.300
481       50-59  141.0  1.80    0.050
218       50-59  125.0  0.05    0.900
217       50-59  162.0  0.05    0.070
180       50-59  126.0  1.80    0.200
239       50-59  172.0  0.05    0.030
159       50-59  114.0  1.60    1.500
157       50-59  141.0  0.05    0.080
6         50-59   78.0  0.05    0.005
498       50-59  116.0  1.50   11.000
146       50-59  102.0  1.80    0.045
141       50-59  112.0  1.20    1.700
226       50-59   96.0  2.20    0.600
143       50-59   81.0  2.20    1.900
13        50-59  107.0  1.70    2.800
187       50-59   90.0  2.40    1.200
162       50-59  131.0  2.00    0.010
167       50-59  124.0  1.90    1.600
90        60-69  139.0  1.60    0.025
491       60-69    8.9  0.05    0.005
39        60-69    8.9  0.05    0.005
173       60-69  103.0  1.40    0.680
227       60-69  117.0  2.30    1.200
342       60-69    8.9  2.20    0.005
426       60-69  106.0  1.80    0.600
348       60-69  101.0  2.50    0.250
78        60-69  111.0  1.60    0.610
421       60-69  114.0  0.50   14.000
223       60-69  124.0  1.80    1.100
344       60-69  132.0  1.40    1.300
354       60-69  106.0  0.05    0.400
219       60-69  101.0  0.05    0.250
428       60-69  108.0  2.40    0.830
181       60-69  101.0  1.70    2.200
76        60-69  142.0  0.05    0.310
51        60-69  107.0  1.70    1.000
52        60-69  136.0  2.20    0.400
193       60-69  124.0  1.50    2.000
191       60-69  104.0  1.80    0.100
205       60-69   90.0  2.90    1.900
57        60-69   72.0  1.50   14.800
386       60-69   69.0  0.70    2.700
186       60-69   90.0  2.40    1.300
60        60-69  109.0  2.30    1.800
383       60-69  114.0  1.10    8.600
381       60-69  104.0  1.00    0.600
183       60-69  125.0  1.80    1.500
378       60-69  138.0  1.30    2.000
65        60-69   94.0  1.70    1.300
66        60-69    8.9  0.05    0.005
42        60-69  113.0  1.50    0.990
210       60-69    8.9  0.05    0.005
211       60-69  172.0  0.05    0.550
371       60-69   16.0  0.20   42.000
414       60-69  108.0  2.20   17.000
489       60-69  141.0  2.20    1.600
214       60-69   92.0  0.05    5.200
179       60-69  107.0  2.30    1.500
77        60-69   94.0  1.90    0.500
336       60-69  100.0  0.05    0.005
264       60-69  134.0  2.30    0.830
334       60-69  144.0  1.40    2.300
241       60-69  108.0  1.60    1.100
11        60-69  153.0  0.05    0.030
245       60-69  163.0  1.50    0.020
29        60-69  102.0  0.05    0.005
399       60-69  106.0  2.30    1.700
449       60-69   93.0  2.00    0.300
125       60-69  107.0  1.10   13.000
294       60-69   71.0  1.20   52.000
289       60-69   69.0  1.70    0.080
453       60-69   82.0  2.70    5.400
476       60-69  122.0  2.50    0.005
254       60-69  107.0  0.05    0.005
147       60-69   92.0  2.00    3.500
257       60-69  122.0  1.50    1.400
259       60-69   14.0  0.40  108.000
464       60-69  115.0  0.05    0.005
17        60-69  121.0  1.20    1.500
15        60-69   87.0  0.05   12.000
473       60-69  102.0  0.70    1.700
442       60-69   95.0  0.05    3.700
310       60-69  108.0  1.70    1.500
114       60-69  221.0  3.50    0.150
26        60-69   92.0  1.40   13.000
98        60-69  136.0  0.05    1.400
330       60-69   10.0  0.40   51.000
8         60-69  132.0  2.20    0.600
327       60-69   89.0  0.05    0.005
311       60-69  110.0  1.20    1.100
25        60-69  190.0  5.50    0.030
101       60-69  122.0  1.50   12.000
321       60-69  112.0  2.50    2.000
50        60-69  122.0  1.00    0.035
313       60-69  100.0  1.40    1.400
319       60-69  141.0  2.30    1.200
317       60-69   87.0  2.20    2.300
9         60-69   93.0  1.60    2.400
438       60-69  110.0  0.05    0.020
466       70-79  182.0  1.70    0.370
467       70-79  133.0  3.60    0.005
468       70-79  108.0  1.30    8.000
494       70-79  127.0  0.60    0.100
4         70-79   70.0  1.20    0.720
417       70-79   77.0  0.30   18.000
49        70-79  115.0  1.70    0.640
487       70-79  115.0  0.05    3.500
472       70-79  115.0  0.90    3.900
470       70-79  142.0  1.40    1.800
44        70-79  140.0  1.70    1.100
3         70-79    8.9  1.90    0.160
461       70-79  140.0  1.80    0.100
408       70-79   56.0  1.30    0.840
446       70-79   89.0  1.90    6.700
31        70-79   92.0  2.30    2.500
484       70-79  107.0  0.05    0.700
425       70-79  116.0  2.10    0.300
410       70-79  104.0  2.20    1.300
452       70-79  110.0  0.50    0.740
12        70-79  151.0  3.80    0.030
32        70-79   98.0  1.90    0.500
436       70-79  124.0  1.40    0.020
28        70-79  106.0  1.50    1.900
439       70-79   71.0  2.00   10.000
84        70-79  121.0  2.30    0.800
392       70-79  102.0  0.90    2.700
322       70-79  112.0  0.90    0.280
103       70-79  124.0  0.05    0.500
105       70-79  111.0  1.80    2.100
109       70-79  157.0  1.20    0.600
309       70-79  129.0  0.90    3.100
305       70-79  121.0  1.40    1.300
246       70-79  149.0  2.30    0.300
153       70-79   99.0  1.30    1.500
112       70-79   92.0  2.10    1.400
123       70-79   96.0  2.20    1.600
394       70-79  112.0  1.80    6.200
127       70-79   98.0  2.60    1.100
290       70-79   80.0  2.00    9.100
288       70-79   93.0  1.90    2.900
287       70-79  116.0  1.40    1.900
286       70-79  112.0  1.30    3.000
152       70-79  115.0  2.20    1.100
129       70-79   97.0  2.30    2.300
282       70-79   32.0  0.50   86.000
144       70-79   97.0  2.20    2.100
140       70-79  113.0  0.05    2.400
278       70-79   98.0  0.30    1.500
277       70-79  116.0  1.40    1.900
263       70-79   97.0  1.30    2.400
275       70-79  165.0  1.30    0.600
272       70-79   92.0  1.00    5.400
139       70-79  104.0  1.60    0.200
135       70-79   90.0  1.50    1.600
326       70-79   74.0  2.20    1.600
324       70-79  112.0  1.80    1.500
158       70-79  131.0  1.10    4.500
55        70-79  111.0  2.90    2.000
382       70-79  106.0  0.80    4.600
63        70-79   84.0  2.10    1.000
67        70-79  103.0  0.80    3.200
373       70-79   86.0  1.50    3.200
370       70-79  143.0  0.05    0.760
182       70-79   91.0  0.30    2.600
367       70-79    8.9  0.05    5.200
75        70-79  180.0  2.60    0.005
224       70-79   72.0  0.70  143.000
328       70-79   97.0  1.50    0.100
171       70-79  127.0  1.50    3.100
357       70-79  160.0  0.80    0.040
360       70-79  105.0  1.20    2.300
81        70-79  102.0  0.05    0.005
332       70-79  102.0  1.50    6.300
237       70-79   73.0  0.05    2.400
168       70-79  104.0  1.90    0.300
196       70-79  119.0  0.05    0.020
232       70-79  118.0  2.30    1.300
347       70-79  129.0  1.60    0.500
231       70-79    8.9  0.05    0.005
170       70-79  120.0  2.60    0.600
346       70-79   80.0  1.90    9.600
267       70-79  100.0  1.70    3.900
10        80-89  121.0  2.20    1.100
244       80-89  152.0  2.20    0.150
253       80-89  125.0  1.80    1.800
7         80-89  115.0  0.60    2.200
203       80-89  100.0  1.80    1.100
202       80-89   76.0  1.70    2.200
192       80-89  117.0  1.20    0.500
497       80-89  134.0  1.40    0.150
292       80-89  108.0  1.30    3.300
134       80-89  134.0  2.80    1.300
48        80-89  186.0  1.70    0.150
46        80-89  113.0  0.90    0.920
45        80-89  171.0  2.20    0.200
62        80-89   67.0  1.60    3.000
369       80-89    8.9  0.05    0.005
361       80-89   97.0  2.20    2.500
419       80-89  112.0  1.20    2.400
356       80-89  118.0  1.40    2.900
34        80-89   61.0  2.40    7.300
82        80-89   97.0  2.90    1.900
343       80-89  200.0  3.40    0.200
429       80-89  145.0  1.20    1.700
91        80-89   41.0  1.20    2.000
432       80-89  115.0  1.40    2.100
308       80-89  164.0  1.00    1.000
22        80-89  106.0  0.30    1.900
304       80-89   95.0  1.30    6.100
128       80-89  117.0  1.30    2.600
281       80-89   85.0  0.40    2.000
280       80-89   77.0  1.70    0.005
131       80-89  170.0  2.00    0.250
18        80-89  104.0  1.60    6.000
471       80-89  125.0  1.80    3.200
197       80-89   92.0  0.05    1.600
440       90-99  224.0  1.90    0.030

## Question 11
* Continue from question 3. 
* Find the average T3 and T4 level of across gender for each age group (based on 10 years interval). 
* Please explain the results.

In [39]:
# Calculate the age range
min = ht_df["age"].min()
min = min - min%10        # Round the age down to the nearest 10
max = ht_df["age"].max()
if max % 10 == 0:
    max += 10             # If the max age is divisible by ten create an extra age bracket as we are using 0-9, 10-19, ... 
    
print("=====================================================")
print("Average T3 & TT4 levels across gender by age bracket:")
print("=====================================================")
for age in range(min, max, 10):
    bracket = "%d-%d" % (age,age+9)
    print(f"Age Bracket: {bracket}")
    b = bracket_df[bracket_df["age bracket"] == bracket]
    averages = b[["T3", "TT4"]].mean()
    print("Average T3: {:.3f}".format(averages["T3"]))
    print("Average TT4: {:.3f}\n".format(averages["TT4"]))

=====================================================
Average T3 & TT4 levels across gender by age bracket:
=====================================================
Age Bracket: 0-9
Average T3: 1.283
Average TT4: 116.333

Age Bracket: 10-19
Average T3: 1.697
Average TT4: 106.000

Age Bracket: 20-29
Average T3: 1.719
Average TT4: 106.931

Age Bracket: 30-39
Average T3: 1.809
Average TT4: 109.475

Age Bracket: 40-49
Average T3: 1.441
Average TT4: 98.734

Age Bracket: 50-59
Average T3: 1.576
Average TT4: 99.842

Age Bracket: 60-69
Average T3: 1.369
Average TT4: 96.728

Age Bracket: 70-79
Average T3: 1.430
Average TT4: 99.410

Age Bracket: 80-89
Average T3: 1.535
Average TT4: 104.941

Age Bracket: 90-99
Average T3: 1.900
Average TT4: 203.000

### Analysis

## Question 12
* Continue from question 3. 
* Draw two scatter plots of FTI level, one against T4 and another against TSH rate. 
* Draw them in two subplots of the same plot.