<a href="https://colab.research.google.com/github/bryonbaker/SIT720/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SIT720 - Assignment 1

Bryon Baker
Student number: 85031775

# Import required modules and libraries

In [230]:

import pandas as pd
import numpy as np

# Load Dataset
Load the dataset from a public git repo.
Display the head info to confirm data load.

In [231]:
url = 'https://raw.githubusercontent.com/bryonbaker/datasets/main/SIT720/Ass1/hypothyroid.csv'
fullht_df = pd.read_csv(url)

In [232]:
fullht_df.head(n=100)

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
0,41,F,f,f,f,f,1.3,2.5,125,109,P
1,23,F,f,f,f,f,4.1,2,102,?,P
2,46,M,f,f,f,f,0.98,?,109,120,P
3,70,F,t,f,f,f,0.16,1.9,175,?,P
4,70,F,f,f,f,f,0.72,1.2,61,70,P
...,...,...,...,...,...,...,...,...,...,...,...
95,26,F,f,f,f,f,2,?,137,84,P
96,59,?,f,f,f,f,1.5,?,92,99,P
97,39,F,f,f,f,f,4.3,2.4,135,89,P
98,69,F,f,f,f,f,1.4,?,123,136,P
99,48,F,f,f,f,f,0.3,1.6,86,92,P

# Data Preparation

## Task 1
1.   Select the first 500 rows of the dataset
2.   Display the dataset dimension

In [233]:
# Get the first 500 rows from the dataset and use that for the rest of the assignment.
ht_df = fullht_df.head(n=500)

# Display the dataset's dimension
print(f"Working dataset dimension is: {ht_df.shape}\n")

Working dataset dimension is: (500, 11)

## Task 2
* Display the number of rows and their indices that have missing data in one or more cells. 
* Print the median values of all features before and after replacing missing data.

In [ ]:
# Cells with missing data have a '?' in them. 
# First replace ? with np.NaN so we can utilise some other nice Pandas dataframe methods. We can use a global replace because, upon dataset ins[ection, the unknown ('?') only exists in the numeric columns.
# Convert the value columns from text to numeric.
# Calculate the median value for the numeric-data coluimns
# Replace the NaN values with a reasonable value. For this exercise we have chosen the mean for the column
# Recalculate the median value for the numeric-data coluimns

# Prepare the data so it is calculable
ht_df = ht_df.replace('?', np.NaN)                                                        # Replace with NaN so many of the Pandas functions will work.
ht_df[["TSH","T3","TT4","FTI"]] = ht_df[["TSH","T3","TT4","FTI"]].apply(pd.to_numeric)    # CSV loads as text. Convert the cells to numeric
print("\nCore Numerical Data Columns:\n")
print(ht_df[["TSH","T3","TT4","FTI"]])

# Calculate the Mean and Median prior to replacing missing values
mean = ht_df[["TSH","T3","TT4","FTI"]].mean(skipna=True)
median = ht_df[["TSH","T3","TT4","FTI"]].median(skipna=True)
print("=======================\n")
print("\nPre Data Modification:")
print("\n======================")
print(f"Mean of each column is:\n{mean}\n")
print(f"The Median of each column is:\n{median}")

# Replace the NaN's of the numeric columns with the mean
ht_df["TSH"] = ht_df["TSH"].fillna(mean["TSH"])
ht_df["T3"] = ht_df["TSH"].fillna(mean["T3"])
ht_df["TT4"] = ht_df["TSH"].fillna(mean["TT4"])
ht_df["FTI"] = ht_df["TSH"].fillna(mean["FTI"])

# Replace the M/F missing values with the most frequently occuring gender provided "pregnant" is false. Otherwise set the value to F.
replace_missing_values(df=ht_df, col="sex", v1="M", v2="F")
#print(type(s))
#if ht_df["sex"].isna().sum() != 0 

#print(f"The number of missing values in Sex is: {ht_df["sex"].isna().sum()}\n")
# 

mean_post = ht_df[["TSH","T3","TT4","FTI"]].mean(skipna=True)
median_post = ht_df[["TSH","T3","TT4","FTI"]].median(skipna=True)
print("=======================\n")
print("Post Data Modification:\n")
print("=======================\n")
print(f"Mean of each column is:\n{mean_post}\nThe Median is:\n{median_post}")

In [ ]:
ht_df.head(n=500)

In [ ]:
# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [['tom', 'M', 't'], ['nick', 'M', 'f'], ['juli', 'F', 'f'], ['tom', '?', 'f']]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Sex', 'Result'])
 
# print dataframe.
df

In [229]:
from pandas.core.arrays import string_
from pandas.core.frame import DataFrame
# This function is used to replace missing values in columns that should have a binary value
def replace_missing_values(df : pd.DataFrame, col: str, v1: str, v2: str):
  print(f"\nINFO: replace_mising_values({type(df)}, {type(col)})\n")

  a = df[col].apply(pd.value_counts)
  print(a)